<!DOCTYPE html>
<html>
<head><title>About Page</title>
<link rel="stylesheet" href="/static/style.css"></head>
<div class="topnav">
	<ul>
  	<li>	<a class="active" href="/home">Home</a></li>
  		<li><a href="/upload">Upload</a></li>
  		<li><a href="/record">Record</a></li>
  		<li><a href="/result">Result</a></li>
  		<li><a href="/about">About</a></li>
  		<li><a href="/login">Login</a></li>
  		<li><a href="/register">Register</a></li>
  	</ul>
	</div>
<body>
	
	<h3>About Page</h3>
	<h2><br>Project Team: <br></h2>
	<h1>Shishir Kumar<br>Saurab Godse<br>Swapnil Ahire<br>Prathamesh Kulkarni<br><br>Guide: Prof. M.P. Karnik</h1>
	

	
</body>
</html>