<!DOCTYPE html>
<html>
<head><title>Home Page</title>
<link rel="stylesheet" href="/static/style.css"></head>
<div class="topnav">
	<ul>
  	<li>	<a class="active" href="/">Home</a></li>
  		<li><a href="/upload">Upload</a></li>
  		<li><a href="/record">Record</a></li>
  		<li><a href="/result">Result</a></li>
  		<li><a href="/about">About</a></li>
  		<li><a href="/login">Login</a></li>
  		<li><a href="/register">Register</a></li>
  	</ul>
	</div>
<body>
	
	<h3>Home Page</h3>
	<br><h2>Project Name: </h2><br>
	<h1>Personality Traits Recognition for Interview Processes using Verbal and Nonverbal Cues</h1>
	<br>

	
</body>
</html>